{% extends "base.html" %}

{% block pagescripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}" ></script>
    <script type="text/javascript">
        var configure_sim_region_endpoint =  "{{ url_for('simulate.configure_sim_region') }}";
    </script>
{% endblock %}


{% block content %}
<section class="page-header page-header-xs">
                <div class="container">
                        <h1>SIMULATION MANAGER</h1>
                </div>
</section>

    <div class="container margin-top-60 margin-bottom-60">

        <div class="col-lg-12 col-md-12 col-sm-12 margin-bottom-80">            

            </iframe>

            <ul class="nav nav-tabs nav-top-border">
                <li class="active"><a href="#devices" data-toggle="tab" aria-expanded="true">Devices</a></li>
                <li class=""><a href="#iothubs" data-toggle="tab" aria-expanded="false">IoT Hubs</a></li>
            </ul>

            <div class="tab-content margin-top-20">
                <!-- Devices TAB -->
                <div class="tab-pane fade in active" id="devices">

                    <div class="row">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                    <h2 class="panel-title"><strong>Total Devices</strong>: <text data-bind="text: num_devices"></text></h2>
                            </div>
                            <div class="panel-body">
                                    <br>

                                    <!--Devices Data Table-->
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Region</th>
                                                    <th># Devices</th>
                                                    <th>Configure</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: simulated_regions">
                                                <tr class="success">
                                                    <td data-bind="text: name">loading...</td>
                                                    <td data-bind="text: region">loading...</td>
                                                    <td data-bind="text: num_devices">loading...</td>
                                                    <td>
                                                        <button role="button" aria-label="configure sim region" type="button" data-bind="click: $parent.activate_configure_sim_region_modal" class="btn btn-default btn-xs">configure</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--/Devices Data Table-->
                                    
                                    <div id="configure_sim_region_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Really Delete Device?</h4>
                                                </div>

                                                <!-- Modal Body -->
                                                <div class="modal-body">
                                                    <p>Configure Selected Simulation Region.</p>
                                                    <form class="nomargin sky-form" enctype="multipart/form-data">
                                                        <fieldset>
                        
                                                            <div class="row">
                                                                <div class="form-group">
                        
                                                                    <div class="col-md-6 col-sm-6">
                                                                        <label>Friendly Name</label>
                                                                        <label class="input margin-bottom-10">
                                                                            <i class="ico-append fa concierge-bell"></i>
                                                                            <input data-bind="value: staged_sim_configure.name" required="" type="text">
                                                                        </label>
                                                                    </div>
                        
                                                                    <div class="col-md-6 col-sm-6">
                                                                        <label>Simulation Region</label>
                                                                        <label class="input margin-bottom-10">
                                                                            <i class="ico-append fa server"></i>
                                                                            <input data-bind="value: staged_sim_configure.region" type="text" class="form-control datepicker" data-format="yyyy-mm-dd" data-lang="en" data-RTL="false">
                                                                        </label>
                                                                    </div>
                        
                                                                </div>
                                                            </div>
                        
                                                            <div class="row">
                                                                <div class="form-group">
                        
                                                                    <div class="col-md-6 col-sm-6">
                                                                        <label># Devices</label>
                                                                        <label class="input margin-bottom-10">
                                                                            <i class="ico-append fa fa-hashtag"></i>
                                                                            <input data-bind="value: staged_sim_configure.num_devices" required="" type="number">
                                                                        </label>
                                                                    </div>
                        
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>

                                                <!-- Modal Footer -->
                                                <div class="modal-footer">
                                                    <button data-bind="click: configure_sim_region" type="button" class="btn btn-primary">Configure</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /Devices TAB -->

                <!-- IoT Hubs TAB -->
                <div class="tab-pane fade" id="iothubs">

                    <div class="row">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                    <h2 class="panel-title"><strong>IoT Hubs</strong></text></h2>
                                    <p>Management of iot hubs not yet supported in sim manager.</p>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <button type="button" class="btn btn-teal btn-lg" data-toggle="modal" data-target="#addIoTHubModal">
                                            Add IoT Hub
                                    </button>
                                </div>
                                    <br>
                                    <br>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /IoT Hubs TAB -->

            </div>

        </div>        
    </div>



{% endblock %}